<%
  params = {}

  if node['docker_ce']['daemon']['cgroup_driver'] == 'systemd'
    params['exec-opts'] = [
      'native.cgroupdriver=systemd'
    ]
  end

  unless Array(node['docker_ce']['daemon']['registry_mirrors']).empty?
    params['registry-mirrors'] = Array(node['docker_ce']['daemon']['registry_mirrors'])
  end

  if node['docker_ce']['daemon']['live_restore']
    params['live-restore'] = true
  end

  if node['docker_ce']['daemon']['log_driver']
    params['log-driver'] = node['docker_ce']['daemon']['log_driver']
  end

  if node['docker_ce']['daemon']['mtu']
    params['mtu'] = node['docker_ce']['daemon']['mtu']
  end
%>

<%= params.to_json %>
